In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import urllib
import os
%matplotlib inline

In [6]:
## A dict with sources:

sources = {
    "math_score" : ["http://www.mecd.gob.es/dctm/inee/internacional/pisa2012/pisa2012-cap2-vol1.xlsx?documentId=0901e72b8188af93",
                    {"sheetname": "2.1",
                     "index_col" : 0,
                     "skiprows" : 4,
                     "parse_cols" : "B,C",
                     "comments" : "Filas 4 y 6-55  Columnas B y C"}
                   ],
    "reading_score" : ["http://www.mecd.gob.es/dctm/inee/internacional/pisa2012/pisa2012-cap2-vol1.xlsx?documentId=0901e72b8188af93",
                      {"sheetname": "2.8",
                       "index_col" : 0,
                       "skiprows" : 4,
                       "parse_cols" : "B,C",
                       "comments" : "Filas 4 y 6-55  Columnas B y C"}
                      ],
    "science_score" : ["http://www.mecd.gob.es/dctm/inee/internacional/pisa2012/pisa2012-cap2-vol1.xlsx?documentId=0901e72b8188af93",
                       {"sheetname": "2.11",
                        "index_col" : 0,
                        "skiprows" : 4,
                        "parse_cols" : "B,C",
                        "comments" : "Filas 4 y 6-55  Columnas B y C"}
                      ]
    
}

In [7]:
def get_series(url, args):

    temp_file = "data/%s.xlsx" % url[-16:]
  
    # Don't download if we already have the file
    if not os.path.isfile(temp_file):
        urllib.urlretrieve(url, temp_file)
        
        
    # Squeeze to get a Series if only one column
    series = pd.read_excel(temp_file, squeeze=True, **args)    
    
    # A lot of random extra spaces in index columns
    series.index = series.index.str.strip()
    
    return series

In [8]:
series = {}

for name, values in sources.iteritems():
    url = values[0]
    args = values[1]
        
    series[name] = get_series(*values)
    
pd.DataFrame(series).head()

           math_score  reading_score  science_score
Alemania   513.525056     507.676530     524.120799
Andalucía  472.019591     476.812111     486.034650
Aragón     496.266194     493.141800     504.111080
Asturias   499.601625     504.016976     516.861585
Australia  504.150766     511.803998     521.494746